*{
    margin: 0vw;
    padding: 0vw;
    box-sizing: border-box;
}
body{
    background-image: url("imagens/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color: rgb(37, 37, 37);
    font-size: 2vw;
}

nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1vw;
}

nav li a:hover{
    background-color: black;
}

.sub-menu{
    position: absolute;
    border: solid 0.2vw rgb(37, 37, 37);
    display: none;
}
.sub-menu a{
    display: block;
    background-color: black;
}
.submenu:hover .sub-menu{
    display: block;
}
.sub-menu a:hover{
    background-color: rgb(37, 37, 37);
    border: 0.2vw solid black;
}
.Mbox-1{
    display:grid;
    padding: 1vw;
    padding-left: 0vw;
    padding-right: 2.5vw;
}
.link-1{
    color: white;
    text-indent: 0vw;
}
.Box-1{
    border: solid black 0.30vw;
    border-radius: 1vw;
    padding: 1vw;
    background-color: rgba(26, 26, 26, 0.95);
}
.TextBox{
    color:white;
    font-size: 1.5vw;
    text-indent: 1vw;
    text-align: justify;
}
.TextBox2{
    color:white;
    font-size: 1.5vw;
    text-align: justify;
}